body {
  font-family: "Inter", "Beth Ellen", sans-serif;
  background-color: #f0f0f0;
  color: #131313;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ol,
ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  display: block;
  cursor: pointer;
}

input {
  font-family: inherit;
}

section {
  padding: 140px 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 72px;
}

.header-nav {
}

.header-title {
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 33px;
}

.header-list-item {
}

.hero {
}

.hero-back {
  background-image: linear-gradient(
      rgba(244, 244, 244, 0.7),
      rgba(244, 244, 244, 0.7)
    ),
    url(./img/mariya-pryjmachenko-1.png);
  border-radius: 42px;
  width: 1296px;
  height: 677px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 62px;
  margin-bottom: 72px;
}

.hero-title {
  font-family: "Beth Ellen", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}

.hero-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 2.1;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000;
  max-width: 566px;
  margin-bottom: 32px;
}

.hero-button {
  padding: 20px 60px;
  border-radius: 42px;
  background-color: #ff8e47;
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000;
}

.hero-sponsors {
  display: flex;
  gap: 40px;
  margin-bottom: 140px;
  align-items: center;
  overflow: clip;
}

.sponsors-icon {
  display: block;

  width: 156px;
  height: 40px;
}
.hero-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

.hero-sponsors-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.sponsors-list-item {
  margin: 0 auto;
}

.hero-about-list {
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 60px;
  width: 736px;
  height: 524px;
  position: relative;
}

.hero-about-list::before {
  content: url(./img/Flowerleft.svg);
  position: absolute;
  transform: translatex(-200%);
}

.hero-about-list::after {
  content: url(./img/Flowerright.svg);
  position: absolute;
  transform: translatex(200%);
}

.about-list-item {
}

.about-subtitle {
  font-family: "Beth Ellen", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
}

.about-text {
  text-align: center;
}

.info {
  background-color: #88d3fc;
}

.info-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  height: 720px;
}

.info-card {
  display: flex;
  flex-direction: column;
  border-radius: 42px;
  width: 306px;
  border-radius: 42px;
  padding: 20px 20px;
  align-items: center;
  justify-content: center;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.info-card svg {
  position: absolute;
}

.info-small-up {
  top: 0;
  left: 0;
}

.info-small-down {
  right: -10px;
  bottom: 0;
  rotate: -6.7deg;
}

.small {
  height: 306px;
  transition: background-color 400ms ease;
}

.small svg {
  width: 155px;
  height: 96px;
  transition: 400ms ease;
}

.small:hover .info-small-up,
.small:hover .info-small-down {
  width: 183px;
  height: 114px;
  fill: #fff;
}

.small:hover .card-title,
.small:hover .card-text,
.medium:hover .card-title,
.medium:hover .card-text {
  opacity: 0;
  pointer-events: none;
}

.medium {
  height: 390px;
  transition: background-color 400ms ease;
}

.medium svg {
  width: 170px;
  height: 49px;
  transition: 400ms ease;
}

.medium:hover .info-medium-down,
.medium:hover .info-medium-up {
  fill: #fff;
  width: 192px;
  height: 55px;
}

.info-medium-up {
  top: 50px;
}

.info-medium-down {
  bottom: 50px;
}

.large {
  width: 636px;
  height: 720px;
  gap: 68px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 400ms ease;
}

.small:hover,
.medium:hover,
.large:hover {
  background-color: #ff8e47;
}

.info-large-up {
  width: 168px;
  height: 172px;
  left: 20px;
  top: 20px;
  transition: 400ms ease;
}

.large:hover .info-large-up {
  fill: #fff;
  width: 192px;
  height: 204px;
  left: 0;
  top: 0;
}

.info-large-down {
  width: 168px;
  height: 172px;
  right: 20px;
  bottom: 20px;
  transition: 400ms ease;
}

.large:hover .info-large-down {
  fill: #fff;
  width: 192px;
  height: 204px;
  right: 0;
  bottom: 0;
}

.card-learn-more {
  width: 228px;
  border-radius: 42px;
  padding: 20px 60px;
  outline: none;
  border: none;
  background: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.45;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
  transition: opacity 400ms ease, transform 400ms ease;
}

.small:hover .card-learn-more,
.medium:hover .card-learn-more {
  pointer-events: all;
  opacity: 1;
  transform: scale(1);
}

.card-title {
  font-weight: 500;
  font-size: 90px;
  line-height: 0.89;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: opacity 400ms ease;
}

.card-title.main {
  font-size: 140px;
  transition: font-size 400ms ease;
}

.large:hover .card-title.main {
  font-size: 150px;
}

.card-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  transition: opacity 400ms ease;
}

.card-text.main {
  max-width: 246px;
  transition: letter-height 400ms ease, font-size 400ms ease;
}

.large:hover .card-text.main {
  font-size: 15px;
  line-height: 1.73;
}

.card-button {
  padding: 20px 60px;
  border-radius: 42px;
  background-color: #ff8e47;
  border: none;
  transition: background-color 400ms ease;
}

.large:hover .card-button {
  background-color: #fff;
}

.equipment {
  background-color: #88d3fc;
}

.equipment-title {
  text-align: center;
  margin-bottom: 80px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.equipment-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.equipment-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-color: transparent;
}

.equipment-button-svg {
  width: 40px;
  height: 40px;
}

.equipment-item {
  padding: 24px;
  border-radius: 42px;
  width: 1296px;
  height: 414px;
  background-color: #fff;
  position: relative;
}
.equipment-subtitle {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.equipment-subtitle-text {
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.equipment-content {
  display: flex;
  gap: 72px;
  margin-top: 40px;
}
.equipment-image {
}
.equipment-text-content {
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: space-evenly;
  width: 618px;
}

.quipment-svg {
  width: 64px;
  height: 64px;
  margin-bottom: 14px;
}

.equipment-text-content > ul {
  display: flex;
  flex-direction: row;
  gap: 54px;
  justify-content: space-evenly;
}

.equipment-text-content li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.equipment-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.equipment-svg-desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.about-wrap {
  display: flex;
  flex-direction: row;
}
.about-image {
  border-radius: 42px;
  margin-right: 132px;
}
.about-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 123px;
}
.about-title {
  font-weight: 400;
  line-height: 1;
}

.about-text {
  line-height: 2;
  letter-spacing: 0.02em;
}

.arrow-wrap {
  display: flex;
  gap: 206px;
}

.about-arrow {
  width: 160px;
  height: 42px;
}

.auction-title {
}

.auction-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.auction-item {
  width: 634px;
  height: 400px;
  border-radius: 42px;
  background-color: #88d3fc;
}

.auction-card {
  height: 400px;
  border-radius: 42px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transition: background-size 400ms ease;
}

.auction-card:hover {
  background-size: 120%;
  background-color: linear-gradient(
    rgba(136, 211, 252, 0.6),
    rgba(136, 211, 252, 0.6)
  );
}

.auction-card-content {
  opacity: 0;
  pointer-events: none;
  width: 634px;
  height: 400px;
  text-align: center;
  align-content: end;
  padding: 60px;
  border-radius: 42px;
  background-image: linear-gradient(
    rgba(136, 211, 252, 0.6),
    rgba(136, 211, 252, 0.6)
  );
  transition: opacity 400ms ease;
}

.auction-card:hover .auction-card-content {
  opacity: 1;
  pointer-events: all;
}

.first-image {
  background-image: url(./img/auction-1.png);
}

.second-image {
  background-image: url(./img/auction-2.png);
}

.third-image {
  background-image: url(./img/auction-3.png);
}

.fourth-image {
  background-image: url(./img/auction-4.png);
}

.auction-card-wrap {
  margin-top: 62px;
  display: flex;
  flex-direction: row;
  gap: 42px;
  justify-content: center;
}

.auction-card-button {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000;
  padding: 20px 60px;
  border-radius: 42px;
  border: none;
}

.auction-card-subtitle {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.auction-card-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.reviews-title {
  font-weight: 500;
  text-align: center;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.reviews-wrap {
  display: flex;
}
.reviews-card {
}
.reviews-image {
}
.reviews-subtitle {
}
.reviews-text {
}
.cta-card {
  align-content: end;
  padding: 64px 0;
  border-radius: 42px;
  width: 1296px;
  height: 677px;
  background: rgba(255, 255, 255, 0.7);
}
.cta-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
.cta-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 2.1;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 132px;
}
.cta-butt {
  margin: 0 auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000;
  padding: 20px 60px;
  border-radius: 42px;
  border: none;
  background-color: #ff8e47;
}
.footer-content {
}
.footer-links {
}
.subscribe-form {
}
.subscribe-title {
}
.form-email {
}
.subscribe-button {
}
.social-links {
}
.social-links-item {
}
.policy-text {
}
